.template {
    margin: 10px;
    width: 230px;
    height: 300px;

    padding: 5px;

    text-align: center;
    border: 2px solid grey;
    border-radius: 20px;
    background-color:#e7f5fe;
    box-shadow: 4px 4px 4px grey;
}
.kuva img{
    width: 200px;
    border: 2px solid #000fff;
    border-radius: 20px;
    box-shadow: 4px 4px 3px #7390fd;
}